body {
  overflow-y: hidden;
}

/* --------- Navigation Bar ------- */

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  height: var(--navigation-bar);
  font-size: var(--font-size-medium-one);
}

.navigation-main {
  height: var(--navigation-bar);
  padding: 0 1rem;
  border-bottom: 1px solid #dddddd;
}

.navigation-main .navigation-items a {
  color: var(--gray);
  font-weight: 400;
  margin: 0 2px;
  padding: 1rem;
}
.navigation-main .navigation-items a:hover {
  text-decoration: none;
  color: var(--light-black);
}

/* ----------- Navigation Section Ends ---------------- */

/* ----------- Intro Section ---------------- */

.intro-section {
  height: calc(100vh - var(--navigation-bar));
  padding: 80px 0;
  max-width: 75vw;
}
.intro-section h1 {
  margin-bottom: 1rem;
}
.intro-section p {
  font-size: 1rem;
  color: #666;
}
.intro-section .mission {
  font-size: var(--font-size-medium-two);
}

.intro-section p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.quizTemplate {
  max-width: 55%;
  padding: 90px 16px;
  width: 100%;
}

.quizTemplate img {
  width: 100%;
  padding: 2rem;
  margin: auto 3rem;
  border-radius: 6px;
  box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.15);
}

/* ----------- Intro Section End ------------ */

a.quizButton {
  display: inline-block;
  transition: background 500ms ease;

  background: linear-gradient(
    95deg,
    var(--black-gravel) 0%,
    var(--gray) 57%,
    var(--black-gravel) 100%
  );
  background-size: 300% auto;
  color: var(--light-white);
  border-radius: 3px;
  text-align: center;

  width: 100%;
  height: 100%;
  padding: 16px 40px;
  position: relative;

  font-weight: 600;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
a.quizButton:hover {
  text-decoration: none;
  background-position: right center;
}

/* ------------- Quiz Section ----------- */

.quiz-section {
  padding: 80px 0;
  background: #f1f3f5;
  height: calc(100vh - var(--navigation-bar));
  position: relative;
}
.quiz-header {
  text-align: center;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.quiz-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  text-align: center;
  position: absolute;
  width: 100%;
}

.welcome-message {
  padding: 16px;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;

  color: var(--gray);
}

.welcome-message p {
  color: var(--light-black);
  display: inline;
  text-transform: uppercase;
}

.res {
  transition: all 500ms ease;

  padding: 2.8rem;
  margin: 0.4rem;

  background: var(--default-white);
  border-radius: 5.5px;
  box-shadow: 0 3px 4px rgba(102, 119, 136, 0.03),
    0 1px 2px rgba(102, 119, 136, 0.3);

  text-transform: capitalize;
  border: none;
  font-family: inherit;
}
.res:hover {
  box-shadow: var(--shadow-def-normal);
  background-color: var(--border-line);
  cursor: pointer;
}

.res h2 {
  font-weight: 600;
  font-size: var(--font-size-medium-two);
  margin: auto;
  /* color: white; */
}

/* --------- login-section --------- */

.login-section {
  padding: 80px 0;
  background: #f1f3f5;
  height: calc(100vh - var(--navigation-bar));
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  /* width: 50%; */

  position: relative;
  display: flex;
  align-items: center;

  max-width: 75vw;
  max-height: 85vh;
  width: 90%;
  height: 90%;

  background-color: var(--light-white);
  transition: 0.64s ease-in-out;
  box-shadow: 0 3px 4px rgba(102, 119, 136, 0.267),
    0 1px 2px rgba(102, 119, 136, 0.3);
}

.form-container {
  /* height: inherit;
  margin: 0;
  padding: 0; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 4rem;
}

.form-item {
  margin-bottom: 0.4rem;
  /* width: inherit; */
}

.form-input {
  /* padding: 0 0.5rem; */
  border: none;
  border-bottom: 1px solid black;

  background-color: transparent;
  color: var(--light-black);

  width: 100%;
  padding: 32px 0 16px 0;
  /* padding: 16px 0; */
  padding-left: 2px;
  position: relative;
}

.form-input::placeholder {
  transition: all 250ms;
  color: var(--gray);
  font-size: var(--font-size-medium-two);
  position: absolute;
  padding: 32px 0 16px 0;
  left: 0;
  top: 0;
}

.form-input:hover::placeholder {
  transition: all 600ms;
  color: var(--light-black);
}
.form-item input:focus {
  outline: none;
}

.form-input:focus::placeholder {
  transition: all 250ms;
  font-size: var(--font-size-small-three);
  top: -35%;
}
.form-item::after {
  content: "";
  border: 1px solid #284347;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0px;
  box-sizing: border-box;
  box-shadow: var(--shadow-def-normal);
}

input[type="submit"] {
  align-items: center;
  justify-content: center;
  font-family: inherit;

  background-color: #284347;

  border: 2px solid #284347;
  color: var(--light-white);
  cursor: pointer;

  font-weight: 700;
  font-size: 14px;
  padding: 12px;
  margin: 8px 0;
  width: 100%;
}
.content-image {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.content-image img {
  width: auto;
  height: 100%;
}
